<library path="lib/libroboy_audio">
  <class name="RoboyAudio" type="RoboyAudio" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      Motor status plugin
    </description>
    <qtgui>
      <group>
        <label>Roboy</label>
      </group>
      <label>roboy audio</label>
      <statustip>Great user interface to provide real value.</statustip>
    </qtgui>
  </class>
</library>
