<library path="lib/libroboy_arms">
  <class name="RoboyArms" type="RoboyArms" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      Roboy arms plugin
    </description>
    <qtgui>
      <group>
        <label>Roboy</label>
      </group>
      <label>roboy arms</label>
      <statustip>Great user interface to provide real value.</statustip>
    </qtgui>
  </class>
</library>
