<library path="lib/libroboy_motor_record">
  <class name="RoboyMotorRecord" type="RoboyMotorRecord" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      Motor record plugin
    </description>
    <qtgui>
      <group>
        <label>Roboy</label>
      </group>
      <label>roboy motor record</label>
      <statustip>Great user interface to provide real value.</statustip>
    </qtgui>
  </class>
</library>
